<!doctype html>
<html lang="{{@site.locale}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{asset "rag.css"}}">
    {{ghost_head}}
  </head>
  <body class="rag {{body_class}}">
    <div class="container my-5">
      <header class="my-5">
        <h1>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 251 160">
            <title>Rag AI</title>
            <desc>Rag AI logo</desc>
            <g>
              <path id="svg_1" d="m58.29001,36.598c-0.06299,4.88699 -0.41299,8.035 -1.047,9.42899c-5.461,-3.55298 -10.98999,-5.332 -16.57901,-5.332c-4.44199,0 -8.72998,1.61902 -12.858,4.858c-4.12799,3.23602 -7.40099,6.88901 -9.81499,10.953l0,46.875c-5.842,1.26901 -11.74701,1.26901 -17.718,0l0,-76.21599c5.209,-1.017 10.41699,-1.017 15.625,0l1.713,14.67198c7.114,-11.68598 15.68999,-17.53299 25.72499,-17.53299c5.84302,0 10.47702,1.14601 13.90802,3.43201c0.76199,1.01901 1.10999,3.97101 1.04599,8.862z"/>
              <path id="svg_2" d="m144.51199,59.17301l0,44.208c-5.082,1.13998 -10.22699,1.13998 -15.43399,0l-1.14603,-8.76801c-3.04599,3.30499 -6.98297,6.06198 -11.81198,8.289c-4.828,2.22501 -9.90802,3.332 -15.24301,3.332c-7.87299,0 -14.41599,-2.21701 -19.625,-6.66602c-5.20398,-4.44501 -7.80798,-10.41699 -7.80798,-17.91c0,-7.49698 2.604,-13.466 7.80798,-17.90899c5.20901,-4.44901 12.004,-6.672 20.388,-6.672c10.039,0 18.41901,2.922 25.14999,8.76501l0,-8.194c0,-12.57602 -6.92099,-18.86102 -20.76599,-18.86102c-8.13,0 -16.44998,2.60501 -24.96201,7.81302c-0.76099,-1.01901 -1.11099,-3.366 -1.04498,-7.05002c0.06299,-3.68399 0.41199,-6.22598 1.04498,-7.621c7.24301,-5.08199 16.70401,-7.62498 28.39102,-7.62498c23.37,0 35.05899,11.62499 35.05899,34.86901zm-49.444,12.578c-2.60501,2.28799 -3.90601,5.207 -3.90601,8.76102c0,3.43198 1.29999,6.32397 3.90601,8.67297c2.604,2.35202 6.19299,3.52402 10.76498,3.52402c4.065,0 8.06403,-0.85699 12.00302,-2.57401c3.93799,-1.711 6.923,-3.52399 8.95398,-5.43201l0,-8.57098c-1.90399,-1.77701 -4.85599,-3.52402 -8.858,-5.23901c-4,-1.71899 -7.97098,-2.573 -11.90799,-2.573c-4.70099,0.00101 -8.35199,1.14099 -10.95599,3.431z"/>
              <path id="svg_3" d="m236.13599,97.44199c-1.521,-1.35699 -3.14899,-2.54401 -4.832,-3.63699c1.68301,-1.09302 3.31201,-2.28 4.832,-3.63501c7.87701,-7.005 11.81201,-15.65601 11.81201,-25.94199c0,-10.28601 -3.936,-18.931 -11.81201,-25.94c-1.48999,-1.32401 -3.543,-2.74899 -2.966,-2.33099l5.811,-11.08801c-3.332,-5.21201 -5.51199,-6.47299 -10.892,-9.97499l-12.04001,12.03999c-0.85199,0.564 -5.14099,0.87799 -8.66299,0.88599c-0.38901,-0.004 -0.76801,-0.043 -1.16199,-0.043c-11.939,0 -21.84802,3.50601 -29.72501,10.51102c-7.87302,7.00897 -11.81201,15.65399 -11.81201,25.94c0,10.28598 3.939,18.93698 11.81201,25.94199c1.522,1.35098 3.142,2.534 4.81299,3.62799c-1.67999,1.08301 -3.289,2.28799 -4.81299,3.64301c-0.91501,0.814 -1.76901,1.65302 -2.57401,2.51501c4.67001,3.30298 9.97299,5.51797 15.88101,6.67999c4.36899,-3.90302 9.79498,-5.896 16.28897,-5.96201c0.04501,0 0.08102,0.00601 0.129,0.00601c0.11002,0 0.21902,-0.01501 0.32703,-0.01501c6.80099,0.03101 12.439,2.14301 16.91501,6.353c4.50897,4.24103 6.76398,9.69299 6.76398,16.36401c0,4.58099 -1.09299,8.573 -3.22198,12.01099c-0.97202,1.56302 -2.13202,3.021 -3.54199,4.34702c-2.62402,2.46799 -5.65903,4.19501 -9.08102,5.22699c-2.45599,0.737 -5.10498,1.13202 -7.97299,1.13202c-0.03299,0 -0.06201,-0.004 -0.09299,-0.004c-6.289,-0.01901 -11.58102,-1.84601 -15.89001,-5.44c-2.55801,0.76999 -4.89099,1.93399 -7.005,3.50598l-0.47299,0.35602c-0.547,0.42599 -1.08502,0.87598 -1.599,1.36301c-1.44202,1.35397 -2.62601,2.84198 -3.60501,4.44699c7.668,6.314 17.147,9.50198 28.47601,9.50198c0.03198,0 0.05899,-0.00198 0.09598,-0.00198c5.62,-0.00601 10.771,-0.80902 15.48203,-2.34601c5.36398,-1.73898 10.15698,-4.44299 14.33398,-8.15698c0.353,-0.315 0.64801,-0.64502 0.98199,-0.95801c7.19299,-6.841 10.83002,-15.15701 10.83002,-24.98401c0.00101,-10.284 -3.93399,-18.935 -11.811,-25.94zm-12.66998,-14.08499c-4.474,4.918 -10.112,7.38599 -16.905,7.423c-0.086,0 -0.16101,-0.01401 -0.241,-0.01401l0,0.01801c-6.819,-0.022 -12.47202,-2.49701 -16.96201,-7.427c-4.508,-4.957 -6.76199,-11.33401 -6.76199,-19.129c0,-7.793 2.254,-14.168 6.76199,-19.12298c4.51099,-4.957 10.19598,-7.431 17.05499,-7.431c6.85901,0 12.543,2.474 17.05402,7.431c4.509,4.95499 6.76398,11.32999 6.76398,19.12298c-0.00198,7.79501 -2.25598,14.173 -6.76498,19.129z"/>
              <circle id="svg_4" r="7.509" cy="7.698" cx="242.873"/>
            </g>
          </svg>
        </h1>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer class="my-5 pt-5 border-top">
        <address class="text-nowrap">
          <strong>Rag AI s.r.o.</strong><br>
          Dolní náměstí 17/9<br>
          746 01 Opava – Město<br>
          Czech Republic
        </address>
        <p class="text-nowrap">
          hi@rag.ai
        </p>
        <p class="text-muted text-nowrap">
          Company No. 06648193<br>
          VAT No. CZ06648193
        </p>
      </footer>
    </div>
    {{ghost_foot}}
  </body>
</html>
